<table mat-table [dataSource]="projects" matSort multiTemplateDataRows class="mat-elevation-z8 m-0 m-sm-0 m-md-4">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th class="text-capitalize" mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <ng-container *ngIf="column === 'name'">
      <td mat-cell *matCellDef="let element" class="mt-2 font-weight-bold">
        {{element[column]}}
      </td>
    </ng-container>
    <ng-container *ngIf="column === 'address'">
      <td mat-cell *matCellDef="let element" innerHTML="{{element[column]}}"
        class="text-secondary d-inline-block mt-2 mb-2"></td>
    </ng-container>
    <ng-container *ngIf="column === 'status'">
      <td mat-cell *matCellDef="let element" class="mt-2 cursor-pointer">
        <mat-icon *ngIf="element[column] === 'closed'" class="text-success" matTooltip="{{element[column] | titlecase}}"
          matTooltipPosition="above">check_circle_outline</mat-icon>
        <mat-icon *ngIf="element[column] === 'in-progress'" class="text-info"
          matTooltip="{{element[column] | titlecase}}" matTooltipPosition="above">timelapse</mat-icon>
        <mat-icon *ngIf="element[column] === 'overdue'" class="text-danger" matTooltip="{{element[column] | titlecase}}"
          matTooltipPosition="above">error_outline</mat-icon>
        <mat-icon *ngIf="element[column] === 'on-hold'" class="text-warning"
          matTooltip="{{element[column] | titlecase}}" matTooltipPosition="above">pause_circle_outline</mat-icon>
        <mat-icon *ngIf="element[column] === 'open'" color="primary" matTooltip="{{element[column] | titlecase}}"
          matTooltipPosition="above">fiber_new</mat-icon>

      </td>
    </ng-container>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" class="bg-light" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="col-md-12">
          <div class="col-md-12 text-center m-3">
            <mat-icon class="user">people_outline</mat-icon>
          </div>
          <div
            class="col-md-12 d-flex justify-content-between align-items-stretch flex-column flex-sm-column flex-md-row">
            <mat-card class="bg-secondary text-white col-md-3 d-flex flex-column mb-3 mb-sm-3 mb-md-0">
              <p class="font-weight-bold text-center">Architects</p>
              <div class="d-flex flex-column justify-content-center">
                <span class="text-center" *ngFor="let architect of element.architects">{{architect}}</span> <br>
              </div>
            </mat-card>
            <mat-card class="bg-secondary text-white col-md-3 d-flex flex-column mb-3 mb-sm-3 mb-md-0">
              <p class="font-weight-bold text-center">Contracters</p>
              <div class="d-flex flex-column justify-content-center">
                <span class="text-center" *ngFor="let contractor of element.contracters">{{contractor}}</span> <br>
              </div>
            </mat-card>
            <mat-card class="bg-secondary text-white col-md-3 d-flex flex-column mb-3 mb-sm-3 mb-md-0">
              <p class="font-weight-bold text-center">Designers</p>
              <div class="d-flex flex-column justify-content-center">
                <span class="text-center" *ngFor="let designer of element.designers">{{designer}}</span> <br>
              </div>
            </mat-card>

          </div>
          <div
            class="d-flex justify-content-between col-md-12 mt-0 mt-sm-0 mt-md-5 mb-2 mb-sm-2 mb-md-0 flex-column flex-sm-column flex-md-row">
            <p class="text-secondary font-style-italic text-justify">{{element.description}}</p>
            <div class="col-md-3 d-flex justify-content-between">
              <span class="d-inline-flex align-items-center">
                <mat-icon matTooltip="Start Date" matTooltipPosition="above" class="text-success">calendar_today
                </mat-icon>
                <span>{{element.startDate}}</span>
              </span>
              <span class="d-inline-flex align-items-center">
                <mat-icon matTooltip="End Date" matTooltipPosition="above" class="text-danger">calendar_today</mat-icon>
                <span>{{element.endDate}}</span>
              </span> </div>
          </div>
        </div>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
